form
  .mb-3
    label.form-label(for='title') Title
    input#title.form-control(type='text', required)
  .mb-3
    label.form-label(for='content', required) Content
    textarea#content.form-control(rows=10, required)
  button.btn.btn-primary(type='submit') Submit
