nav.navbar.navbar-expand-lg.bg-dark.bg-gradient.mb-4( data-bs-theme="dark")
  .container
    a.navbar-brand(href='/') Node Posts
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/posts') All Posts
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')| #{user ? user.firstName + ' ' + user.lastName : 'Account'}
          ul.dropdown-menu
            if user
              li
                a.dropdown-item(href='/posts/create') Create Post
              li 
                a.dropdown-item(href='/users/user-posts') My posts
              li
                form(method='POST', action='/users/logout')
                  button.btn Logout 
            else
              li
                a.dropdown-item(href='/users/login') Login
              li
                a.dropdown-item(href='/users/register') Register