extends ../main-layout.pug 

block content 
  p AGPL V3 License
  p Version 1.0.0
  p 
    a.link-info(href='https://www.flaticon.com/free-icons/web-development' title='web development icons' target='_blank') Web development icons created by Freepik - Flaticon
