extends ../main-layout.pug
block content
  .row
    .col-md-6.mx-auto
      .card
        .card-body
          h5.card-title Sign In
          form(method='POST' action='/users/login')
            .mb-3
              label.form-label(for='email') Email
              input#email.form-control(type='email' name='email' required='')
            .mb-3
              label.form-label(for='password') Password
              input#password.form-control(type='password' name='password' required='')
              a.form-text(href='/users/register') Don't have an account?
            .mb-3
            button.btn.btn-primary(type='submit') Login
