extends ../main-layout.pug
block content
  .row
    .col-md-6.mx-auto
      .card
        .card-body
          h5.card-title Signup
          form(method='POST' action='/users/register')
            .mb-3
              label.form-label(for='email') Email
              input#email.form-control(type='email' name='email' required='')
            .mb-3
              label.form-label(for='firstName') First Name
              input#firstName.form-control(type='text' name='firstName' required='')
            .mb-3
              label.form-label(for='lastName') Last Name
              input#lastName.form-control(type='text' name='lastName' required='')
            .mb-3
              label.form-label(for='password') Password
              input#password.form-control(type='password' name='password' required='')
            .mb-3
              label.form-label(for='passwordv') Verify Password
              input#passwordv.form-control(type='password' name='passwordv' required='')
              a.form-text(href='/users/login') Already have an account?
            button.btn.btn-primary(type='submit') Register
