extends ../main-layout.pug 

block content
  h2 #{title}
  if user
    if user.id === post.user
      .float-end
        a.btn.bg-info.bg-gradient.text-white.m-2(href='/posts/edit/'+post._id) Edit
        form.d-inline(method='POST', action='/posts/delete/'+post._id+'?_method=DELETE')
          input(type='hidden' name='CSRFToken' value=token)
          button.btn.bg-danger.bg-gradient.text-white Delete
  .card.w-75.mb-3
    .card-body
      h5.card-title #{post.title}
      p.card-text #{post.content}