extends ../main-layout.pug 

block content
  h2 #{title}
  if posts.length 
    each post in posts
      .card.w-75.mb-3
        .card-body
          h5.card-title #{post.title}
          if post.content.length > 300 
            p.card-text #{post.content.slice(0, 300)}...
            a.btn.btn-info.m-2.text-white(href='#') Read More
          else 
            p.card-text #{post.content}
          if user
            if user.id === post.user
              .float-end
                a.btn.btn-primary.m-2(href='/posts/edit/'+post._id) Edit
                form.d-inline(method='POST', action='/posts/delete/'+post._id+'?_method=DELETE')
                  button.btn.btn-danger Delete
  else 
    p No posts